.app-list--unstyled {
	list-style: none
}

.app-tile--no-cursor {
	pointer-events: none;
}

.app-configuration {
	border: solid 2px black;
	position: fixed;
	top: 0;
	min-height: 100vh;
	width: 100%;
	z-index: 99999;
	background-color: white;
	display: flex;
	flex-direction: column;
}

.app-cw-search .selected.fr-card button {
	background: #000091 !important;
	color: white;
	font-weight: bold !important;
}

.app-cw-search li {
	cursor: pointer;
}

.app-cw-search li:hover button {
	background: #cacafb !important;
	font-weight: bold;
}

.app-cw-search li p {
	text-align: left !important;
}

.app-flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}