---
viewStyle: ""
---

<!DOCTYPE html>
<html>
  <head>
    <script src="https://docs.getgrist.com/grist-plugin-api.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@gouvfr/dsfr@1.14.0/dist/dsfr.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/{{ viewStyle }}">
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>